# ----- Server -----
PORT=8080

# ----- Database -----
DSN="postgres://username:password@localhost:5432/spotsync?sslmode=disable"

# ----- JWT -----
JWT_SECRET_KEY="your-super-secret-key"

# ----- Admin Seed -----
ADMIN_NAME="Admin"
ADMIN_EMAIL="admin@spotsync.com"
ADMIN_PASSWORD="admin-password"